<div class="row">

    <div class="col-md-4 house">
        <div class="portfolio-item">
            <img src="pictures/house1.jpg" class="img-responsive" alt="...">

            <div class="portfolio-details text-center">
                <h4>Hus #1</h4>
                <a href="#"><i class="fa fa-link"></i></a>
            </div>
            <div class="houseName"><h3>Hus #1</h3></div>
        </div>
    </div>

    <div class="col-md-4 house">
        <div class="portfolio-item">
            <img src="pictures/house2.jpg" class="img-responsive" alt="...">

            <div class="portfolio-details text-center">
                <h4>Hus 2</h4>
                <a href="#"><i class="fa fa-link"></i></a>
            </div>
            <div class="houseName"><h3>Hus #2</h3></div>
        </div>
    </div>

    <div class="col-md-4 house">
        <div class="portfolio-item">
            <img src="pictures/house3.jpg" class="img-responsive" alt="...">

            <div class="portfolio-details text-center">
                <h4>Hus 3</h4>
                <a href="#"><i class="fa fa-link"></i></a>
            </div>
            <div class="houseName"><h3>Hus #3</h3></div>
        </div>
    </div>


</div>