<h1>Login</h1>
<form class="loginForm marginTop40">
    <input type="submit" value="Start Login" class="btn btn-primary">
</form>

<div class="loginInitiated marginTop20">
    <div>Fullfør login via epost sendt til:</div>

    <div class="alert alert-info">
        <h4 class="loginEmail black"></h4>
    </div>

    <div>Husk at det kan ta litt tid før epsoten kommer frem</div>
    <div class="marginTop40">
        <a href="#">til hovedsiden</a>
    </div>
</div>