<div class="col-md-3 col-sm-6 col-xs-12">
    <a href="{{downloadUrl}}">
        <div class="feature">
            <i class="fa fa-{{iconId}}"></i>

            <div class="feature-content">
                <h4>{{name}}</h4>

                <p>{{description}}</p>
            </div>

            {{#loggedIn}}
                <div class="margin20">
                    <button class="margin10 btn btn-danger fa fa-pencil editButton"></button>
                    <button class="margin10 btn btn-danger fa fa-trash deleteButton"></button>
                </div>
            {{/loggedIn}}
        </div>
    </a>
</div>
