<section id="logo-section" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="logo">
                    <h1>Hans Nordahls Gate</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="houses marginTop40"></div>


{{#loggedIn}}
    <div class="col-xs-12 marginTop40">
        <a href="#house/add">
            <div class="feature">
                <i class="fa fa-pencil"></i>

                <div class="feature-content">
                    <p>Nytt hus</p>
                </div>
            </div>
        </a>
    </div>
{{/loggedIn}}